<app-header [title]="'Home'"></app-header>

<a [routerLink]="'/about-us'">Go to About-Us</a>

<h1>Llistat de Vacances</h1>

<div>
    <div *ngFor="let v of vacances">Vacanca: {{v.nom}}</div>
</div>

<h1>Insertar Vacanca</h1>

<div>

    Exemple Double Binding bàsic:
    <input type="text" [(ngModel)]="testdoublebinding" /> <br/>
    {{testdoublebinding}}<br/><br/><br/>

    <form [formGroup]="vacancaForm">
        
        Nom:
        <input type="text" formControlName="nom" /> <br/>

        Preu:
        <input type="text" formControlName="preu" /> <br/>

        Pais:
        <input type="text" formControlName="pais" /> <br/>

        Descripcio:
        <input type="text" formControlName="descripcio" /> <br/>

        <button type="button" (click)="saveVacanca()">Save Vacanca</button>

    </form>     

</div>